<!-- Create and Config Modal Start -->
<div
  class="modal fade"
  id="exampleModalToggle"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
          Create the Bank
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row g-3">
          <div class="col">
            <label for="input1" class="form-label">Company Id</label>
            <input
              type="number"
              class="form-control"
              id="input1"
              ng-model="setting.companyId"
            />
          </div>
          <div class="col">
            <label for="input2" class="form-label">Description</label>
            <input
              type="text"
              class="form-control"
              id="input2"
              ng-model="setting.description"
            />
          </div>
        </div>
        <div class="row g-3">
          <div class="col">
            <label for="input3" class="form-label">Type</label>
            <input
              type="text"
              class="form-control"
              id="input3"
              ng-model="setting.type"
            />
          </div>
          <div class="col">
            <label for="input4" class="form-label">Reference</label>
            <input
              type="text"
              class="form-control"
              id="input4"
              ng-model="setting.reference"
            />
          </div>
        </div>
        <div class="row g-3">
          <div class="col">
            <label for="input7" class="form-label">Updated By</label>
            <input
              type="text"
              class="form-control"
              id="input7"
              ng-model="setting.updatedBy"
            />
          </div>
          <div class="col">
            <label for="input6" class="form-label">Created By</label>
            <input
              type="text"
              class="form-control"
              id="input6"
              ng-model="setting.createdBy"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary btn-sm"
          data-bs-target="#exampleModalToggle2"
          data-bs-toggle="modal"
        >
          Configurations
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModalToggle2"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">
          Configurations Settings
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row g-3">
          <div class="col">
            <label for="inputEmail4" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="inputEmail4"
              ng-model="config.Name"
            />
          </div>
          <div class="col">
            <label for="inputEmail3" class="form-label">Description</label>
            <input
              type="text"
              class="form-control"
              id="inputEmail3"
              ng-model="config.Description"
            />
          </div>
        </div>
        <div class="row g-3">
          <div class="col">
            <label for="inputEmail2" class="form-label">Phone</label>
            <input
              type="text"
              class="form-control"
              id="inputEmail2"
              ng-model="config.Phone"
            />
          </div>
          <div class="col">
            <label for="inputEmail1" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="inputEmail1"
              ng-model="config.Email"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary btn-sm"
          data-bs-target="#exampleModalToggle"
          data-bs-toggle="modal"
        >
          Back to first
        </button>
        <button class="btn btn-primary btn-sm" ng-click="saveSettings(setting)">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Create and Config Modal End -->

<!-- Edit Modal Start -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row g-3">
          <div class="col">
            <label for="inputEmail4" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="inputEmail4"
              ng-model="config.Name"
            />
          </div>
          <div class="col">
            <label for="inputEmail3" class="form-label">Description</label>
            <input
              type="text"
              class="form-control"
              id="inputEmail3"
              ng-model="config.Description"
            />
          </div>
        </div>
        <div class="row g-3">
          <div class="col">
            <label for="inputEmail2" class="form-label">Phone</label>
            <input
              type="text"
              class="form-control"
              id="inputEmail2"
              ng-model="config.Phone"
            />
          </div>
          <div class="col">
            <label for="inputEmail1" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="inputEmail1"
              ng-model="config.Email"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          ng-click="updateConfig(Id, ref, config)"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Edit Modal End -->

<!-- Detail View Start -->
<div
  class="modal fade modal-lg"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Detail Setting View
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h3>Setting</h3>
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col">companyId</th>
              <th scope="col">description</th>
              <th scope="col">type</th>
              <th scope="col">reference</th>
              <th scope="col">createdBy</th>
              <th scope="col">createdOn</th>
              <th scope="col">updatedBy</th>
              <th scope="col">updatedOn</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{settingInfo.companyId}}</td>
              <td>{{settingInfo.description}}</td>
              <td>{{settingInfo.type}}</td>
              <td>{{settingInfo.reference}}</td>
              <td>{{settingInfo.createdBy}}</td>
              <td>{{settingInfo.createdOn}}</td>
              <td>{{settingInfo.updatedBy}}</td>
              <td>{{settingInfo.updatedOn}}</td>
            </tr>
          </tbody>
        </table>
        <hr />
        <h3>Configurations</h3>
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{settingInfo.configuration.Name}}</td>
              <td>{{settingInfo.configuration.Description}}</td>
              <td>{{settingInfo.configuration.Phone}}</td>
              <td>{{settingInfo.configuration.Email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
<!-- Detail View End -->

<!-- Table Start -->
<div class="container align-item-center my-5">
  <div class="mb-3">
    <a class="btn btn-primary btn-sm" href="#!systemSettingDialog">
      Create the new
    </a>
  </div>
  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">Company Id</th>
          <th scope="col">Description</th>
          <th scope="col">Type</th>
          <th scope="col">Reference</th>
          <th scope="col">CreatedBy</th>
          <th scope="col">UpdatedBy</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody ng-repeat="x in data">
        <tr>
          <td>{{x.companyId}}</td>
          <td>{{x.description}}</td>
          <td>{{x.type}}</td>
          <td>{{x.reference}}</td>
          <td>{{x.createdBy}}</td>
          <td>{{x.updatedBy}}</td>
          <td>
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-info btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              ng-click="loadSettings(x.id, x.reference)"
            >
              Edit Setting
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              ng-click="deleteSettings(x.id)"
            >
              Delete
            </button>
            <button
              type="button"
              class="btn btn-success btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              ng-click="getSettingInfo(x.id)"
            >
              Detail View
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Table End -->
